---
import Main from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";
import { getSortedNotes } from "../utils/notes";
import type { PaginateFunction } from "astro";

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  const notes = await getSortedNotes();
  return paginate(notes, { pageSize: 6 });
}
const { page } = Astro.props;
---

<Main>
  <div class="space-y-8">
    <div class="w-full space-y-4">
      {
        Array.isArray(page?.data) && page.data.length > 0 ? (
          page.data.map((entry, index) => (
            <div
              class="onload-animation"
              style={`animation-delay: calc(var(--onload-animation-delay) + ${index + 1} * var(--onload-animation-interval));`}
            >
              <PostCard
                id={entry.id}
                title={entry.data?.title}
                published={entry.data?.published}
                description={entry.data?.description}
                tags={entry.data?.tags}
                readingMetadata={{ time: 0, wordCount: 0 }}
                basePath="/notes"
              />
            </div>
          ))
        ) : (
          <div class="text-center text-gray-500">No notes found.</div>
        )
      }
    </div>
  </div>
</Main>
